bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/GameServer/Aki_Data/
/GameServer/MonoBleedingEdge/
/GameServer/user/
/GameServer/NLog/
/GameServer/*.dll
/GameServer/*.ini
/GameServer/*.exe
/.idea/.idea.SitServerController.dir/.idea/.gitignore
/.idea/.idea.SitServerController.dir/.idea/encodings.xml
/GameServer.zip
/.idea/.idea.SitServerController.dir/.idea/indexLayout.xml
/SitServerController.zip
/.idea/.idea.SitServerController.dir/.idea/vcs.xml
