@namespace SitServerController.Pages


<h3>DashboardCardBase</h3>


    <MudPaper Class="py-4 px-6 rounded-lg d-flex align-center">
        <div class="flex-grow-1">
            <MudText Color="Color.Primary" Typo="Typo.h6" Class="d-flex justify-center">Total Server Memory</MudText>
            <div class="d-flex align-center my-1">
            </div>
            <MudText Typo="Typo.h4" Class="d-flex justify-center">800 MB</MudText>
        </div>
    </MudPaper>

